body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {

}

.main-heading {
  text-align: center;
  color: #2c387e;
  font-size: 50px;

}

.card {
  border: 0.5px solid lightgray;
  /* box-shadow: 0 10px 10px 10px #5c6bc0; */
  width: 75%;
  margin: 80px auto;
}

.card-heading {
  color: #2c387e;
  font-size: 30px !important;
  padding-bottom: 10px !important;
}

.card-content{
  font-size: 20px !important;
  padding-top: 10px !important;
}

.add-form {
  border: 0.5px solid lightgray;
  border-radius: 6px !important;
  width: 75%;
  margin: 80px auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.progress {
  margin: 150px 600px !important;
}